* {
   padding: 0;
   margin: 0;
}

.container {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: minmax(150px, 0.5fr) 4fr;
   grid-template-rows: 1fr 4fr;
}

.header {
   grid-column: 2 / 3;
   background-color: azure;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.layer-top {
   grid-column: 1 / 3;
   display: grid;
   grid-template-columns: 1fr 1fr 1fr 1fr;
}

.layer-bottom {
   grid-column: 1 / 3;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.dashboard {
   grid-row: 1 / 3;
   background-color: rgb(25, 146, 212);
   color: white;
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto 1fr;
}

.dashboard > div {
   margin: 0 20px 20px 0;
}

.nav-bar ul, .settings-bar ul {
   list-style-type: none;
}

.content {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   background-color: grey;
   display: grid;
}