* {
   padding: 0;
   margin: 0;
   list-style-type: none;
   font-family: 'Roboto', sans-serif;
}

.container {
   height: 100vh;
   width: 100vw;
   display: grid;
   grid-template-columns: minmax(170px, 0.7fr) 4fr;
   grid-template-rows: 1fr 4fr;
}

.header {
   grid-column: 2 / 3;
   background-color: white;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.layer-top {
   grid-column: 1 / 3;
   display: grid;
   grid-template-columns: 3fr 1fr 1fr 1fr;
}

.layer-bottom {
   grid-column: 1 / 3;
   display: grid;
   grid-template-columns: 1fr 1fr;
}

.account-logo-cluster {
   justify-self: flex-start;
   display: grid;
   grid-template-columns: 1fr 1fr;
   grid-template-rows: 1fr 1fr;
}

.logo-main {
   grid-row: 1 / 3;
}

.create-content ul {
   display: grid;
   grid-template-columns: 1fr 1fr 1fr;
   justify-items: end;
}

.dashboard {
   grid-row: 1 / 3;
   background-color: rgb(25, 146, 212);
   color: white;
   padding: 20px;
   display: grid;
   grid-template-columns: 1fr;
   grid-template-rows: auto auto 1fr;
   gap: 30px;
}

.nav-heading {
   display: flex;
   align-items: center;
}

.dashboard > div {
   margin: 0 20px 20px 0;
}

.dashboard li {
   display: flex;
   align-items: center;
   margin: 10px 0;
}

.dash-icon-big {
   width: 35px;
   margin-right: 10px;
}

.dash-icon {
   width: 20px;
   margin-right: 20px;
   padding-left: 6px;
}

.main-section {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
   background-color: rgb(226, 232, 240);
   display: grid;
   grid-template-columns: 3fr 1fr;
   grid-template-rows: 1fr 1fr;
   gap: 20px;
}

.projects-cluster {
   grid-column: 1 / 2;
   grid-row: 1 / 3;
}

.projects-deck {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
   gap: 5px;
}

.project-card {
   background-color: white;
}

.announcements-section {
   grid-column: 2 / 3;
   grid-row: 1 / 2;
}

.announcements-container {
   display: grid;
   grid-template-columns: 1fr;
   background-color: white;
}

.trending-section {
   grid-column: 2 / 3;
   grid-row: 2 / 3;
}

.trending-container {
   display: grid;
   grid-template-columns: 1fr;
   background-color: white;
}